header {
	position: absolute;
	top: 0;
	left: 0;
	height: 68px;
	width: 100%;
	border-bottom: 1px solid #333;
	background: $header-color;
	text-align: center;

	.logo {
		width: 90px;
		height: 40px;
		margin-top: 14px;
	}
}